n8n-Workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [640, 256],
      "id": "e8d9dd53-b021-48ad-9ae7-3282a22bec54",
      "name": "Telegram Trigger1",
      "webhookId": "TELEGRAM_WEBHOOK_ID",
      "notesInFlow": false,
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ead608af-7a53-4330-a679-6a5df4bd5ad8",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [864, 256],
      "id": "5a90b6ee-2caf-4ef6-840e-30c19a3070ee",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Update an event in Google Calendar",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ $fromAI('Event_ID', '', 'string') }}",
        "updateFields": {
          "description": "={{ $fromAI('eventName') }}",
          "start": "={{ $fromAI('start') }}",
          "end": "={{ $fromAI('end') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1344, 480],
      "id": "ec53bcca-b297-42ed-83b0-6db0cefb9b4b",
      "name": "Update calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar Credential"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to create a new calendar event.",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "start": "={{ $fromAI('start') }}",
        "end": "={{ $fromAI('end') }}",
        "additionalFields": {
          "summary": "={{ $fromAI('eventName', 'the name of the calendar event') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1472, 480],
      "id": "eb455367-a221-490e-91cb-92f65288ff2f",
      "name": "Create event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "eventId": "={{ $fromAI('Event_ID', 'event identifier', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1600, 480],
      "id": "ed55a1bc-4bb4-4b84-9295-1e9f7f1d4b42",
      "name": "Delete event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar Credential"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger1').item.json.update_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1216, 480],
      "id": "5f7225e5-6f9b-4f58-9a79-cbb24f123076",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a helpful assistant responsible for managing Google Calendar events.\n\n(omitted for brevity — content unchanged)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1344, 256],
      "id": "6ecd1e08-0ad4-45b4-bf98-4af4057375ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1936, 256],
      "id": "e6d22510-73a5-40a9-bb61-6f49f0ed4115",
      "name": "Telegram",
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Credential"
        }
      }
    },
    {
      "parameters": {
        "model": "openrouter/auto",
        "options": { "maxTokens": 10000 }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [1088, 480],
      "id": "dd9fd63d-be50-46a4-8546-63cfbb592812",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OPENROUTER_CREDENTIAL_ID",
          "name": "OpenRouter Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "primary",
          "mode": "list",
          "cachedResultName": "Primary Calendar"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [1728, 480],
      "id": "abf9b067-7b19-46ba-819a-7cfd01684918",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "GOOGLE_CALENDAR_CREDENTIAL_ID",
          "name": "Google Calendar Credential"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger1": { "main": [[{ "node": "Edit Fields1", "type": "main", "index": 0 }]] },
    "Edit Fields1": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "Update calendar": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Create event": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Delete event": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "Window Buffer Memory": { "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]] },
    "OpenRouter Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "Get many events in Google Calendar": { "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Telegram", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "N8N_INSTANCE_ID"
  }
}
